* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.dark-background-color {
  background-color: #1f2937;
}

.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
}

.hero-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
}

.information-header-text {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

div.header,
div.about,
div.footer {
  padding: 0 200px;
}

div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

ul.nav-links {
  display: flex;
  justify-content: end;
  gap: 30px;
  font-size: 18px;
}

div.about {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 30px;
}
p.hero-secondary-text {
  margin-bottom: 8px;
}

div.about div.main,
div.about div.about-img {
  outline: dashed pink 1px;
  display: flex;
  flex: 1 1 0;
}

div.about div.about-img {
  justify-content: center;
  align-items: center;
  background-color: gray;
}

div.about div.main {
  flex-direction: column;
  align-items: flex-start;
}

.btn {
  background-color: #3882f6;
  padding: 8px 20px;
  border: 0;
  border-radius: 8px;
  color: #f9faf8;
  font-weight: bold;
}

div.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px;
}

div.info ul {
  display: flex;
  margin-top: 40px;
  gap: 50px;
}

li.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

li.card img {
  height: 150px;
  width: 150px;
  border: solid #3882f6 4px;
  border-radius: 8px;
}

li.card p {
  text-align: center;
  width: 150px;
}

div.testimony {
  background-color: #e5e7eb;
  margin: 80px 0;
  padding: 100px 200px;
}
div.testimony-author {
  display: flex;
  justify-content: end;
  padding-right: 15px;
  margin-top: 10px;
}
